<div class="row pl-3"><i class="fa fa-pencil fa-2x pt-2 pr-3"></i><h1><%= @club.name.titleize %> Club</h1></div>
<div><%= link_to "Back to #{@club.name.titleize}", club_path(@club), class: 'btn btn-outline-dark' %></div>

<%= render 'shared/errors', obj: @club %>
<%= form_for @club do |f| %>
  
  <!-- TODO: Semester -->
  <%= f.text_field :semester_id, value: 1, class: 'form-control invisible' %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :about %>
    <%= f.text_area :about, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :objective %>
    <%= f.text_area :objective, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :member_benefit %>
    <%= f.text_area :member_benefit, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :community_benefit %>
    <%= f.text_area :community_benefit, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :usual_day %>
    <%= f.text_field :usual_day, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :usual_venue %>
    <%= f.text_field :usual_venue, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :hours_per_week %>
    <%= f.text_field :hours_per_week, class: 'form-control' %>
  </div>


  <!-- TODO: User -->
  <%= f.text_field :user_id, value: 1, class: 'form-control invisible' %>
 
  <h3>Activity Plan</h3><br/>

  <table class='table table-bordered'>
    <thead>
      <tr>
        <th scope="col">Aspect of Development</th>
        <th scope="col">Activity</th>
        <th scope="col">No. of Hours ( Hour )</th>
        <th scope="col">Weightage (%) </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Physical, Health & Safety</td>
        <td><%= f.text_field :phs_activity, class: 'form-control' %></td>
        <td><%= f.text_field :phs_hours, class: 'form-control' %></td>
        <td><%= f.text_field :phs_weightage, class: 'form-control' %></td>
      </tr>
      <tr>
        <td>Cultural</td>
        <td><%= f.text_field :culture_activity, class: 'form-control' %></td>
        <td><%= f.text_field :culture_hours, class: 'form-control' %></td>
        <td><%= f.text_field :culture_weightage, class: 'form-control' %></td>
      </tr>
      <tr>
        <td>Spiritual</td>
        <td><%= f.text_field :spiritual_activity, class: 'form-control' %></td>
        <td><%= f.text_field :spiritual_hours, class: 'form-control' %></td>
        <td><%= f.text_field :spiritual_weightage, class: 'form-control' %></td>
      </tr>
      <tr>
        <td>Social and Community</td>
        <td><%= f.text_field :social_activity, class: 'form-control' %></td>
        <td><%= f.text_field :social_hours, class: 'form-control' %></td>
        <td><%= f.text_field :social_weightage, class: 'form-control' %></td>
      </tr>
      <tr>
        <td>Mental and Psychological</td>
        <td><%= f.text_field :mental_activity, class: 'form-control', placeholder: 'Forum' %></td>
        <td><%= f.text_field :mental_hours, class: 'form-control', placeholder: '3' %></td>
        <td><%= f.text_field :mental_weightage, class: 'form-control', placeholder: '10' %></td>
      </tr>

    </tbody>
  </table>

  <h3>Activity</h3><br/>

  <table class='table table-bordered'>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Week No</th>
        <th scope="col">Name</th>
        <th scope="col">No of Hours</th>
        <th scope="col">Venue</th>
        <th scope="col">Weightage</th>
        <th scope="col">Status</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :activities, @activities do |act| %>
        <tr>
            <td><%= act.date_field :date, class: 'form-control' %></td>
            <td><%= act.text_field :week_no, :readonly => true, class: 'form-control' %></td>
            <td><%= act.text_field :name, class: 'form-control'  %></td>
            <td><%= act.text_field :no_of_hours, class: 'form-control' %></td>
            <td><%= act.text_field :venue, class: 'form-control' %></td>
            <td><%= act.text_field :weightage, class: 'form-control' %></td>
            <td>
              <!-- <div class="form-group">
                <%= act.select :status, Activity.statuses.keys.to_a %>
              </div> -->
              <%= act.text_field :status, class: 'form-control', disabled: true %>
            </td>
            <td><%= act.check_box :_destroy %></td>
        </tr>

            <%= act.hidden_field :user_id, value: 1, class: 'form-control invisible' %>
      <% end %>  
    </tbody>
  </table>



  <%= f.submit 'Update Club', class: 'col-md-2 btn btn-outline-success mb-5' %>

<% end %>