<div><%= render 'shared/errors', obj: @club %></div>
<h1><strong>Club Edit</strong> - <%= @club.name.titleize %></h1>
<div><%= link_to "Back to Club Page", club_path(@club), class: 'btn btn-outline-dark' %></div>

<%= form_for @club do |f| %>
  
  <!-- TODO: Semester -->
  <%= f.text_field :semester_id, value: 1, class: 'form-control invisible' %>


  <div class="card card-body bg-light">
    <h3 class="pt-3 pb-3"><u>Club Details</u></h3>
    <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :office %>
      <%= f.select(:office, [["Student, Activities and Development Office","Student, Activities and Development Office"],["Spiritual and Community Service Office","Spiritual and Community Service Office"], ["Counseling and Diverse Learning Needs Office","Counseling and Diverse Learning Needs Office"]], {}, class: 'form-control' ) %>
    </div>

    <div class='form-group'>
      <%= f.label :executive %>
      <%= f.select(:executive, [["Executive Sports & Recreation","Executive Sports & Recreation"],["Executive Arts & Culture","Executive Arts & Culture"], ["Executive Leadership & Innovation","Executive Leadership & Innovation"], ["Executive Religious and Spiritual","Executive Religious and Spiritual"], ["Executive Community Service and Students' Welfare","Executive Community Service and Students' Welfare"]], {}, class: 'form-control' ) %>
    </div>

    <div class='form-group'>
      <%= f.label :about %>
      <%= f.text_area :about, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :objective %>
      <%= f.text_area :objective, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :member_benefit %>
      <%= f.text_area :member_benefit, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :community_benefit %>
      <%= f.text_area :community_benefit, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :usual_day %>
      <%= f.text_field :usual_day, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :usual_venue %>
      <%= f.text_field :usual_venue, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <%= f.label :hours_per_week %>
      <%= f.text_field :hours_per_week, class: 'form-control' %>
    </div>
  </div>
  <!-- TODO: User -->
  <%= f.text_field :user_id, value: 1, class: 'form-control invisible' %>
 

  <div class="card card-body bg-light mb-5">
    <h3 class="pt-3 pb-3"><u>Activity Plan</u></h3>

    <table class='table table-bordered bg-white'>
      <thead>
        <tr>
          <th scope="col">Aspect of Development</th>
          <th scope="col">Activity</th>
          <th scope="col">No. of Hours ( Hour )</th>
          <th scope="col">Weightage (%) </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Physical, Health & Safety</td>
          <td><%= f.text_field :phs_activity, class: 'form-control' %></td>
          <td><%= f.text_field :phs_hours, class: 'form-control' %></td>
          <td><%= f.text_field :phs_weightage, class: 'form-control' %></td>
        </tr>
        <tr>
          <td>Cultural</td>
          <td><%= f.text_field :culture_activity, class: 'form-control' %></td>
          <td><%= f.text_field :culture_hours, class: 'form-control' %></td>
          <td><%= f.text_field :culture_weightage, class: 'form-control' %></td>
        </tr>
        <tr>
          <td>Spiritual</td>
          <td><%= f.text_field :spiritual_activity, class: 'form-control' %></td>
          <td><%= f.text_field :spiritual_hours, class: 'form-control' %></td>
          <td><%= f.text_field :spiritual_weightage, class: 'form-control' %></td>
        </tr>
        <tr>
          <td>Social and Community</td>
          <td><%= f.text_field :social_activity, class: 'form-control' %></td>
          <td><%= f.text_field :social_hours, class: 'form-control' %></td>
          <td><%= f.text_field :social_weightage, class: 'form-control' %></td>
        </tr>
        <tr>
          <td>Mental and Psychological</td>
          <td><%= f.text_field :mental_activity, class: 'form-control' %></td>
          <td><%= f.text_field :mental_hours, class: 'form-control' %></td>
          <td><%= f.text_field :mental_weightage, class: 'form-control' %></td>
        </tr>

      </tbody>
    </table>
  </div>
  
  <div class="card card-body bg-light">
    <h3 class="pt-3 pb-3"><u>Activity</u></h3>
    <table class='table table-bordered bg-white' id="thetable">
      <thead>
        <tr>
          <th style="width: 3%;" scope="col">Week No</th>
          <th style="width: 3%;" scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Venue</th>
          <th scope="col">Dev Aspect</th>
          <th style="width: 2%;" scope="col">No of Hours</th>
          <th style="width: 10%;" scope="col">Weightage</th>
          <th scope="col">Status</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :activities, @activities do |act| %>
          <tr>
              <td><%= act.text_field :week_no, :readonly => true, class: 'form-control' %></td>
              <td><%= act.date_field :date, class: 'form-control' %></td>
              <td><%= act.text_field :name, class: 'form-control' %></td>
              <td><%= act.text_field :venue, class: 'form-control' %></td>
              <td><%= act.select(:dev_aspect, Activity.dev_aspects.keys.to_a, {}, class: 'form-control') %></td>
              <td><%= act.text_field :no_of_hours, class: 'form-control' %></td>
              <td><%= act.text_field :weightage, class: 'form-control' %></td>
              <td>
                <!-- <div class="form-group">
                  <%= act.select :status, Activity.statuses.keys.to_a %>
                </div> -->
                <%= act.text_field :status, class: 'form-control', disabled: true %>
              </td>

              <td><%= act.check_box :_destroy %></td>
          </tr>

          <%= act.hidden_field :user_id, value: 1, class: 'form-control invisible' %>
        <% end %>  
      </tbody>
    </table>
    <div><%= submit_tag "Add New Activity", :type =>  "button", :id => "addAddress", :onclick => 'addAddressField()', class: 'btn btn-outline-primary' %></div>
    <ul id="myActivity"></ul>

  </div>
  
  <%= f.submit 'Update Club', class: 'col-md-2 btn btn-outline-success mt-3 mb-5' %>

<% end %>