<%= render 'shared/messages' %><br/>
<h3>Clubs ( Total: <%= @clubs.count %> ) <%= link_to 'New Club', new_club_path, class: 'btn btn-success' %></h3>
<% @clubs.each_with_index do |club, index| %>
  <p>#<%= index + 1 %> | <%= truncate(club.name.titleize, length: 35) %> |  
  	  <%= link_to '', club_path(club), id: "club_#{club.id}", class: 'btn btn-info fa fa-info' %> | 
  	  <%= link_to '', members_club_path(club), id: "member_club_#{club.id}", class: 'btn btn-warning fa fa-users' %> ( <%= club.members.count %> members )
  </p>
<% end %>