<h1><strong>Clubs</strong></h1>
<%= link_to 'Create a Club', new_club_path, class: 'btn btn-outline-success mb-3' %>
<div class="mt-3"><%= render 'shared/messages' %></div>
<h4>Number of Clubs: <%= @clubs.count %></h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <% @clubs.each_with_index do |club, index| %>
    <tbody>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= truncate(club.name.titleize, length: 50) %></td>
        <td><%= link_to '', club_path(club), id: "club_#{club.id}", class: 'fa fa-info btn btn-outline-info mr-3' %>
        <%= link_to '', members_club_path(club), id: "member_club_#{club.id}", class: 'fa fa-users btn btn-outline-dark' %> </td>
      </tr>
    </tbody>

  <% end %>
</table>