<%= render 'shared/messages' %><br/>
<h3>Clubs ( Total: <%= @clubs.count %> ) </h3>
<p><%= link_to 'Create new Club', new_club_path %></p>
<% @clubs.each_with_index do |club, index| %>
  <p>#<%= index + 1 %> | Name: <%= club.name %> |  
  	  <%= link_to 'View Club Activity Profile', club_path(club), id: "club_#{club.id}" %> | 
  	  <%= link_to 'View Member', members_club_path(club), id: "member_club_#{club.id}" %> ( <%= club.members.count %> )
  	  <%#= link_to 'View Club Activity Profile', activities_path(club), id: "activity_club_#{club.id}" %> 
  </p>
<% end %>