New Club
<%= form_for @club do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :semester_id %>
    <%= f.select :semester_id, @sessions %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-success' %>

<% end %>

<%= @club.inspect %>
