<h1><strong>Create Club</strong></h1>
<div><%= link_to "Back to Clubs", clubs_path, class: 'btn btn-outline-dark' %></div>

<%= render 'shared/errors', obj: @club %>
<%= form_for @club do |f| %>
  
  <!-- TODO: Semester -->
  <%= f.text_field :semester_id, value: 1, class: 'form-control invisible', style: 'width: 0px; height: 0px;' %>

  <div class="card card-body bg-light">
    <h3 class="pt-3 pb-3"><u>Club Details</u></h3>

    <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: "e.g. DIKIR, NASYID DAN TAUSYEH (KDNDT)" %>
    </div>

    <div class='form-group'>
      <%= f.label :about %>
      <%= f.text_area :about, class: 'form-control', placeholder: 'e.g. This club acts as a platform in UBD for students to learn and enjoy Islamic songs (Nasyid & Tausyeh)' %>
    </div>

    <div class='form-group'>
      <%= f.label :objective %>
      <%= f.text_area :objective, class: 'form-control', placeholder: 'e.g. To expose members to various Islamic tunes and Qasidah' %>
    </div>

    <div class='form-group'>
      <%= f.label :member_benefit %>
      <%= f.text_area :member_benefit, class: 'form-control', placeholder: 'e.g. Widens their skills in singing Islamic tunes' %>
    </div>

    <div class='form-group'>
      <%= f.label :community_benefit %>
      <%= f.text_area :community_benefit, class: 'form-control', placeholder: 'e.g. Members can contribute in Formal Events ' %>
    </div>

    <div class='form-group'>
      <%= f.label :usual_day %>
      <%= f.text_field :usual_day, class: 'form-control', placeholder: 'e.g. CLT 1.05 (Muslimat) & SHBIE G.94 (Muslimin)' %>
    </div>

    <div class='form-group'>
      <%= f.label :usual_venue %>
      <%= f.text_field :usual_venue, class: 'form-control', placeholder: 'e.g. Thursday' %>
    </div>

    <div class='form-group'>
      <%= f.label :hours_per_week %>
      <%= f.text_field :hours_per_week, class: 'form-control', placeholder: 'e.g. 2 hours per week' %>
    </div>
  </div>


  <!-- TODO: User -->
  <%= f.text_field :user_id, value: 1, class: 'form-control invisible', style: 'height: 0px; width: 0px;' %>
 
  <div class="card card-body bg-light mb-5">
    <h3 class="pt-3 pb-3"><u>Activity Plan</u></h3>

    <table class='table table-bordered'>
      <thead>
        <tr>
          <th scope="col">Aspect of Development</th>
          <th scope="col">Activity</th>
          <th scope="col">No. of Hours ( Hour )</th>
          <th scope="col">Weightage (%) </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Physical, Health & Safety</td>
          <td><%= f.text_field :phs_activity, class: 'form-control', placeholder: 'e.g. Larian Ukhwah' %></td>
          <td><%= f.text_field :phs_hours, class: 'form-control', placeholder: 'e.g. 4' %></td>
          <td><%= f.text_field :phs_weightage, class: 'form-control', placeholder: 'e.g. 14' %></td>
        </tr>
        <tr>
          <td>Cultural</td>
          <td><%= f.text_field :culture_activity, class: 'form-control', placeholder: 'e.g. Nasyid and Tausyeh Competition' %></td>
          <td><%= f.text_field :culture_hours, class: 'form-control', placeholder: 'e.g. 3'  %></td>
          <td><%= f.text_field :culture_weightage, class: 'form-control', placeholder: 'e.g. 10' %></td>
        </tr>
        <tr>
          <td>Spiritual</td>
          <td><%= f.text_field :spiritual_activity, class: 'form-control', placeholder: 'e.g. Lectures, Seminar, Taddabur' %></td>
          <td><%= f.text_field :spiritual_hours, class: 'form-control', placeholder: 'e.g. 15' %></td>
          <td><%= f.text_field :spiritual_weightage, class: 'form-control', placeholder: 'e.g. 50' %></td>
        </tr>
        <tr>
          <td>Social and Community</td>
          <td><%= f.text_field :social_activity, class: 'form-control', placeholder: 'e.g. Showcase Booth, Invite IPT participation, invite schools' %></td>
          <td><%= f.text_field :social_hours, class: 'form-control', placeholder: 'e.g. 5' %></td>
          <td><%= f.text_field :social_weightage, class: 'form-control', placeholder: 'e.g. 16' %></td>
        </tr>
        <tr>
          <td>Mental and Psychological</td>
          <td><%= f.text_field :mental_activity, class: 'form-control', placeholder: 'e.g. Forum' %></td>
          <td><%= f.text_field :mental_hours, class: 'form-control', placeholder: 'e.g. 3' %></td>
          <td><%= f.text_field :mental_weightage, class: 'form-control', placeholder: 'e.g. 10' %></td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="card card-body bg-light">
    <h3 class="pt-3 pb-3"><u>Activity</u></h3>

    <table class='table table-bordered table-striped'>
      <thead>
        <tr class='bg-light'>
          <th scope="col" style="width: 10%;">Week No</th>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Development Aspect</th>
          <th scope="col">No of Hours</th>
          <th scope="col">Venue</th>
          <th scope="col">Weightage</th>
        </tr>
      </thead>

        <%= f.fields_for :activities do |act| %>
          <tr>
              <td><%= act.text_field :week_no, value: act.options[:child_index] + 1, :readonly => true, class: 'form-control' %></td>
              <td><%= act.date_field :date, class: 'form-control', value: Date.today + ( (act.options[:child_index] + 1) * 7).to_i.days, order: [:day, :year, :month] %></td>          
              <td><%= act.text_field :name, class: 'form-control' %></td>
              <td><%= act.select :dev_aspect, options_for_select(@act), class: 'form-control' %></td>
              <td><%= act.text_field :no_of_hours, class: 'form-control' %></td>
              <td><%= act.text_field :venue, class: 'form-control' %></td>
              <td><%= act.text_field :weightage, class: 'form-control' %></td>
          </tr>
          </ul>
              <%= act.hidden_field :user_id, value: 1, class: 'form-control invisible', style: "width: 0px; height: 0px;" %>
        <% end %>  
      </tbody>
    </table>
    <div><%= submit_tag "Add New Activity", :type =>  "button", :id => "addAddress", :onclick => 'addAddressField()'%></div>
    <ul id="myActivity"></ul>
  </div>
  

    <div id="addressHeader" style="display:none"> 
       Address information: 
    </div>
   

  <%= f.submit 'Create Club', class: 'btn btn-success mt-3' %>

<% end %>

<br/>
<%#= @club.inspect %>
