<h1><strong><%= @activity.club.name %> Attendance</strong></h1>
<div><%= link_to "Back to #{@club.name.titleize}", club_path(@club), class: 'btn btn-outline-dark' %></div>
<%= render 'shared/messages' %><br/>

<div class="mt-4 card bg-light p-3">
  <table class="table table-bordered bg-white mt-3">
    <h3><u>Activity Details</u></h3>
    <thead>
      <tr>
        <th>Week</th>
        <th>Date</th>
        <th>Activity Name</th>
        <th>Activity Status</th>
        <th>Change Activity Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @activity.week_no %></td>
        <td><%= @activity.date_in_words %></td>
        <td><%= @activity.name %></td>
        <td><%= @activity.status.titleize %></td>
        <td>  
          <%= link_to 'Planned', activity_plan_path(@club, @activity), class: 'btn btn-outline-primary' if !@activity.planned? %>
          <%= link_to 'Completed', activity_complete_path(@club, @activity), class: 'btn btn-outline-primary' if !@activity.completed? %>
          <%= link_to 'Cancelled', activity_cancel_path(@club, @activity), class: 'btn btn-outline-primary' if !@activity.cancelled? %>
          </td>
      </tr>
    </tbody>
  </table>
</div>

<%= form_for @club do |f|  %>

  <%= f.text_field :semester_id, value: 1, class: 'form-control invisible', style: 'width: 0px; height: 0px;' %>
  <%= f.text_field :user_id, value: 1, class: 'form-control invisible', style: 'width: 0px; height: 0px;' %>
  <div class="card bg-light p-3">
    <table class="table table-bordered bg-white">
      <h3><u>Attendance Sheet</u></h3>
      <thead>
        <th scope="col">#</th>
        <th>Student Registration</th>
        <th>Name</th>
        <th>Position</th>
        <th>Attendance</th>
      </thead>

      <% @members.count.times do %>
       <%= f.fields_for :attendances, @club.attendances.build do |attend| %>
        <tbody>
          <tr>
            <td><%= attend.index + 1 %></td>
            <td><%= @club.members[attend.index].student_reg %></td>
            <td><%= @club.members[attend.index].name %></td>
            <td><%= @club.members[attend.index].position %></td>
            <td>
              <%= attend.text_field :member_id, value: @club.members[attend.index].id, class: 'invisible', style: 'width: 0px; height: 0px;' %>
              <%= attend.text_field :activity_id, value: @activity.id, class: 'invisible', style: 'width: 0px; height: 0px;' %>
              <%= attend.check_box :status, {}, true, false if !@activity.cancelled? %></td>
              <%= attend.text_field :club_id, value: @club.id , class: 'invisible', style: 'width: 0px; height: 0px;' %>
          </tr>
        </tbody>
       <% end %>
      <% end %>
    </table>
  </div>    

  <%= f.submit 'Save Attendance', class: 'btn btn-outline-success mt-3 mb-5' %>

<% end %>

<%#= params.inspect %>