<%= render 'shared/messages' %>
<h1><strong>Club Page </strong> | <%= @club.name.titleize %></h1>
<%= link_to 'Back to Clubs', clubs_path, class: 'btn btn-outline-dark' %> &nbsp; 
<%= link_to 'View Club Members', members_club_path(@club), id: "member_club_#{@club}", class: 'btn btn-outline-dark' %> </td> &nbsp;  
<%= link_to 'Edit Club', edit_club_path(@club), class: 'btn btn-outline-primary' %> &nbsp; 
<%= link_to 'Delete Club', club_path(@club), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-outline-danger' %>


<!-- ACTIVITY -->

<div class="pt-4 mb-4">
  <h3 class="custom-underline">Activity</h3>
  <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th class='table-dark' scope="col">Week No</th>
        <th class='table-dark' scope="col">Date</th>
        <th class='table-dark' scope="col">Activity Name</th>
        <th class='table-dark' scope="col">Status</th>
        <th class='table-dark' scope="col" style="width: 15%;">Attendance Rate (%)</th>
        <th class='table-dark' scope="col">Action</th>
        <!-- <th scope="col">Activity Action</th> -->
      </tr>
    </thead>
    <% if @club_activities.empty? %>
      <td colspan="6" style="text-align: center;"><h4>There are no Activities. <br>Please add some by clicking on the 'Edit Club' button.</h4></td>
    <% else %>
      <tbody>
        <% @club_activities.each do |activity| %>
          <tr scope="row">
            <td><%= activity.week_no %></td>
            <td><%= activity.date_in_words %></td>
            <td><%= activity.name %></td>
            <td>
              <% if activity.status == 'planned' %>
                Planned
              <% elsif activity.status == 'cancelled' %>
                Cancelled
              <% else %>
                Completed
              <% end %>
            </td>
            <td><%= @club.attendance_rate(activity) %></td>
            <td>
              <%= link_to '', activity_new_attendance_path(@club, activity), class: 'fa fa-pencil btn btn-outline-success' if activity.attendances.empty? %>
              <%= link_to '', activity_update_attendance_path(@club, activity), class: 'fa fa-pencil btn btn-outline-primary' if !activity.attendances.empty? %>
            </td>
          </tr>
          <% @complete_attendances.push(@club.attendance_rate(activity)) if activity.status == "completed" %>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>

<%#= @complete_attendances.sum / @complete_attendances.count if !@complete_attendances.empty? %>

<!-- CLUB DETAILS -->

<div class="mb-5 mt-2">
  <h3 class="custom-underline">Club Details</h3>
  <table class="table table-bordered">
    <tr>
      <th class='table-dark' scope='row' style="width: 20%;">Name</th>
      <td><%= @club.name %></td>
    </tr>
    <tr>
      <th class='table-dark' scope='row'>About</th>
      <td><%= @club.about %></td>
    </tr>
    <tr>
      <th class='table-dark' scope='row'>Objective</th>
      <td><%= @club.objective %></td>
    </tr>
    <tr>
      <th class='table-dark' scope='row'>Benefit to Member</th>
      <td><%= @club.member_benefit %></td>
    </tr>
    <tr>
      <th class='table-dark' scope='row'>Benefit to Community</th>
      <td><%= @club.community_benefit %></td>
    </tr>
    <tr>
      <th class='table-dark' scope='row'>Usual Venue</th>
      <td><%= @club.usual_venue %></td>
    </tr>
    <tr>
      <th class='table-dark' scope='row'>Usual Day</th>
      <td><%= @club.usual_day %></td>
    </tr>
    <tr>
      <th class='table-dark' scope='row'>Hours per week</th>
      <td><%= @club.hours_per_week %> hours per week</td>
    </tr>
  </table>
</div>

<!-- ASPECT OF HOLISTIC DEVELOPMENT -->

<div class="mb-5 mt-2">
  <h3 class="custom-underline">Aspects of Student Holistic Development Plan</h3>
  <table class="table table-bordered table-striped">
    <thead class='thead-dark'>
      <tr>
        <th scope="col">Aspect of Development</th>
        <th scope="col">Activity</th>
        <th scope="col">No. of Hours</th>
        <th scope="col">Weightage (%)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Physical, Health and Safety</th>
        <td><%= @club.phs_activity if @club.phs_activity %></td>
        <td><%= @club.phs_hours if @club.phs_hours %></td>
        <td><%= @club.phs_weightage if @club.phs_weightage %></td>
      </tr>
      <tr>
        <th scope="row">Cultural</th>
        <td><%= @club.culture_activity if @club.culture_activity %></td>
        <td><%= @club.culture_hours if @club.culture_hours %></td>
        <td><%= @club.culture_weightage if @club.culture_weightage %></td>
      </tr>
      <tr>
        <th scope="row">Spiritual</th>
        <td><%= @club.spiritual_activity if @club.spiritual_activity %></td>
        <td><%= @club.spiritual_hours if @club.spiritual_hours %></td>
        <td><%= @club.spiritual_weightage if @club.spiritual_weightage %></td>
      </tr>
      <tr>
        <th scope="row">Social and Community</th>
        <td><%= @club.social_activity if @club.social_activity %></td>
        <td><%= @club.social_hours if @club.social_hours %></td>
        <td><%= @club.social_weightage if @club.social_weightage %></td>
      </tr>
      <tr>
        <th scope="row">Mental and Psychological</th>
        <td><%= @club.mental_activity if @club.mental_activity %></td>
        <td><%= @club.mental_hours if @club.mental_hours %></td>
        <td><%= @club.mental_weightage if @club.mental_weightage %></td>
      </tr>
      <tr>
        <td></td>
        <td>Total</td>
        <td><%= @club.total_planned_hours %> hours </td>
        <td><%= @club.total_weightage %> % </td>
      </tr>
    </tbody>
  </table>
</div>

<div class='container'>
  <div class="offset-md-2 col-md-8 pt-3 pb-2 card card-block bg-dark">
  <h3 style="color:white;"><u>Automated Point Allocation & Distribution Table</u></h3>
  <table class="table table-bordered table-striped">
    <thead style='background-color: #C0C0C0;'>
      <tr>
        <th scope="col">Aspect Development</th>
        <th scope="col">Weightage (%)</th>
        <th scope="col">Point Allocated</th>
      </tr>
    </thead>
    <tbody class="table-light">
      <tr>
        <th scope="row">Physical, Health and Safety</th>
        <td><%= @phs_weightage %></td>
        <td><%= @club.phs_points_to_percentage.round %> </td>
      </tr>
      <tr>
        <th scope="row">Cultural</th>
        <td><%= @cult_weightage %></td>
        <td><%= @club.culture_points_to_percentage.round  %></td>
      </tr>
      <tr>
        <th scope="row">Spiritual</th>
        <td><%= @sprt_weightage %></td>
        <td><%= @club.spiritual_points_to_percentage.round %></td>
      </tr>
      <tr>
        <th scope="row">Social and Community</th>
        <td><%= @soc_weightage %></td>
        <td><%= @club.social_points_to_percentage.round %></td>
      </tr>
      <tr>
        <th scope="row">Mental and Psychological</th>
        <td><%= @ment_weightage %></td>
        <td><%= @club.mental_points_to_percentage.round %></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
<br/>

<!-- Automated Points Calculation -->

<div class='container'>
  <div class='offset-md-2 col-md-8 pt-3 pb-2 card card-block bg-dark'>
  <h3 style="color:white;"><u>Automated Points Calculation</u></h3>
  <div class="card card-block bg-light p-3">
    <h4>Total Points Calculation</h4>
    <div class='offset-md-1'>
      <table class='table table-bordered table-secondary'>
        <tr style='background-color: #C0C0C0;'><td><i>1 hour = 10 points</i></td></tr>
        <tr style='background-color: #C0C0C0;'><td><i>Total Points = Total Number of Hours * 10 Points</i></td></tr>
      </table>
    </div>
    <p><strong>Total Points</strong> = <%= @club.total_planned_hours %> hours * 10 points = <i><%= @club.total_points %> Points </i></p>
  </div>
  <hr>
  <div class="card card-block bg-light p-3">
    <h4>Points Allocation Calculation</h4>
    <div class='offset-md-1'>
      <table class='table table-bordered table-secondary'>
        <tr style='background-color: #C0C0C0;'><td><i>Points Allocated = Weightage of Development Aspect * Total Points</i></td></tr>
      </table>
    </div>
      <p><strong>Physical, Health & Safety</strong> = <%= @phs_weightage %>% of <%= @club.total_points %> = <i><%= @club.phs_points_to_percentage.round %> Points </i></p>
      <p><strong>Cultural</strong> = <%= @cult_weightage %>% of <%= @club.total_points %> = <i><%= @club.culture_points_to_percentage.round  %>  Points </i></p>
      <p><strong>Spiritual</strong> = <%= @sprt_weightage %>% of <%= @club.total_points %> = <i><%= @club.spiritual_points_to_percentage.round %> Points </i></p>
      <p><strong>Social and Community</strong> = <%= @soc_weightage %>% of <%= @club.total_points %> =<i> <%= @club.social_points_to_percentage.round %> Points </i></p>
      <p><strong>Mental and Psychological</strong> = <%= @ment_weightage %>% of <%= @club.total_points %> = <i><%= @club.mental_points_to_percentage.round %> Points </i></p>
    </div>
  </div>
</div>
<br/>
