<h1><%= @club.name %> Club Details</h1>
<%= link_to 'Back', clubs_path %>
<br/>
<table class="table table-bordered">
  <tr>
    <th scope='row'>Name</th>
    <td><%= @club.name %></td>
  </tr>
  <tr>
    <th scope='row'>About</th>
    <td><%= @club.about %></td>
  </tr>
  <tr>
    <th scope='row'>Objective</th>
    <td><%= @club.objective %></td>
  </tr>
  <tr>
    <th scope='row'>Benefit to Member</th>
    <td><%= @club.member_benefit %></td>
  </tr>
  <tr>
    <th scope='row'>Benefit to Community</th>
    <td><%= @club.community_benefit %></td>
  </tr>
  <tr>
    <th scope='row'>Usual Venue</th>
    <td><%= @club.usual_venue %></td>
  </tr>
  <tr>
    <th scope='row'>Usual Day</th>
    <td><%= @club.usual_day %></td>
  </tr>
  <tr>
    <th scope='row'>Hours per week</th>
    <td><%= @club.hours_per_week %> hours per week</td>
  </tr>
</table>