<%= render 'shared/messages' %>
<h1><strong>Attendance Edit</strong> | <%= @activity.club.name %></h1>
<div><%= link_to "Back to #{@club.name.titleize}", club_path(@club), class: 'btn btn-outline-dark' %></div>
<br/>

<div class="mt-4 card bg-dark p-3">
  <table class="table table-bordered bg-white mt-3">
    <h3 class="text-danger"><u><strong>Activity Details</strong></u></h3>
    <thead>
      <tr>
        <th style="width: 5%;">Week</th>
        <th>Date</th>
        <th>Activity Name</th>
        <th>Venue</th>
        <th>Activity Status</th>
        <th>Change Activity Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @activity.week_no %></td>
        <td><%= @activity.date_in_words %></td>
        <td><%= @activity.name %></td>
        <td><%= @activity.venue %></td>
        <td><%= @activity.status.titleize %></td>
        <td>  
          <%= link_to 'Planned', activity_plan_path(@club, @activity), class: 'btn btn-outline-primary' if !@activity.planned? %>
          <%= link_to 'Completed', activity_complete_path(@club, @activity), class: 'btn btn-outline-primary' if !@activity.completed? %>
          <%= link_to 'Cancelled', activity_cancel_path(@club, @activity), class: 'btn btn-outline-primary' if !@activity.cancelled? %>
          </td>
      </tr>
    </tbody>
  </table>
</div>

<%= form_for @club do |f|  %>

  <%= f.text_field :semester_id, value: 1, class: 'form-control invisible', style: 'width: 0px; height: 0px;' %>
  <%= f.text_field :user_id, value: 1, class: 'form-control invisible', style: 'width: 0px; height: 0px;' %>
  <div class="card bg-light mt-3 p-3">
    <table class="table table-bordered bg-white mt-3">

      <h3><u>Attendance Sheet</u></h3>
      
      <thead>
        <th scope="col">#</th>
        <th>Name</th>
        <th>Position</th>
        <th>Attendance</th>
      </thead>

       <%= f.fields_for :attendances, @attendances do |attend| %>
        <tbody>
          <tr>
            <td><%= attend.index + 1 %></td>
            <td><%= link_to "#{@club.members[attend.index].name}", student_path(@club.members[attend.index].student) %></td>
            <td><%= @club.members[attend.index].position %></td>
            <td>
              <%= attend.text_field :club_id, class: 'invisible', style: 'width: 0px; height: 0px;' %>
              <%= attend.text_field :member_id, class: 'invisible', style: 'width: 0px; height: 0px;' %>
              <%= attend.text_field :activity_id, class: 'invisible', style: 'width: 0px; height: 0px;' %>
              <%= attend.check_box :status, {}, "true", "false" %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>    

  <%= f.submit 'Update Attendance', class: 'btn btn-outline-success mb-5 mt-4' %>

<% end %>


<%#= params.inspect %>