<div class="row pl-3"><i class="fa fa-pencil fa-2x pt-2 pr-3"></i><h1><%= @activity.club.name %> Attendance</h1></div>
<div><%= link_to "Back to #{@club.name.titleize}", club_path(@club), class: 'btn btn-outline-dark' %></div>
<%= render 'shared/messages' %><br/>

<div class="col-md-6 mt-4">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Week</th>
      <th>Date</th>
      <th>Activity Name</th>
      <th>Activity Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @activity.week_no %></td>
      <td><%= @activity.date_in_words %></td>
      <td><%= @activity.name %></td>
      <td><%= @activity.status.titleize %></td>
    </tr>
  </tbody>
</table>
</div>

<br/>
<div class="mb-3"><strong>Change Activity Status:</strong>
  <%= link_to 'Planned', activity_plan_path(@club, @activity), class: 'btn btn-primary' if !@activity.planned? %>
  <%= link_to 'Completed', activity_complete_path(@club, @activity), class: 'btn btn-primary' if !@activity.completed? %>
  <%= link_to 'Cancelled', activity_cancel_path(@club, @activity), class: 'btn btn-primary' if !@activity.cancelled? %>
</div>


<%= form_for @club do |f|  %>

  <table class="table table-bordered">
    <%= f.text_field :semester_id, value: 1, class: 'form-control invisible', style: 'width: 0px; height: 0px;' %>
    <%= f.text_field :user_id, value: 1, class: 'form-control invisible', style: 'width: 0px; height: 0px;' %>
    
    <thead>
      <th scope="col">#</th>
      <th>Name</th>
      <th>Position</th>
      <th>Attendance</th>
    </thead>

     <%= f.fields_for :attendances, @attendances do |attend| %>
      <tbody>
        <tr>
          <td><%= attend.index + 1 %></td>
          <td><%= link_to "#{@club.members[attend.index].name}", student_path(@club.members[attend.index].student) %></td>
          <td><%= @club.members[attend.index].position %></td>
          <td>
            <%= attend.text_field :club_id, class: 'invisible', style: 'width: 0px; height: 0px;' %>
            <%= attend.text_field :member_id, class: 'invisible', style: 'width: 0px; height: 0px;' %>
            <%= attend.text_field :activity_id, class: 'invisible', style: 'width: 0px; height: 0px;' %>
            <%= attend.check_box :status, {}, "true", "false" %></td>
        </tr>
      </tbody>
    <% end %>
  </table>    

  <%= f.submit 'Update Attendance', class: 'btn btn-outline-success mb-5' %>

<% end %>


<%#= params.inspect %>