<div><%= render 'shared/messages' %></div>
<h1><strong>Semesters</strong></h1>
<div><%= link_to 'Create a Semester', new_semester_path, class: 'btn btn-outline-success mb-3' %></div>
<h4 class="custom-underline">Semester Listing</h4>
<table class="table table-bordered tabled-striped">
  <thead>
  	<tr class="bg-dark text-white">
      <th scope="col">#</th>
      <th scope="col">Session</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @semesters.each_with_index do |semester, index| %>
  	<tr>
        <th><%= index + 1 %></th> 
        <td><%= semester.session %></td>
        <td><%= semester.status %></td>
        <td><%= link_to '', edit_semester_path(:id => semester), class: 'fa fa-pencil btn btn-outline-primary' %></td>
    </tr>
    <% end %>
  </tbody>
</table>