<h1><strong>Semesters</strong></h1>
<table class="table table-bordered tabled-striped">
  <thead>
  	<tr>
      <th scope="col">Index</th>
      <th scope="col">Session</th>
      <th scope="col">Year</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @semesters.each_with_index do |semester, index| %>
  	<tr>
        <th><%= index + 1 %></th> 
        <td><%= semester.session %></td>
        <td><%= semester.year %></td> 
        <td><%= semester.status %></td>
        <td><%= link_to '', edit_semester_path(:id => semester), class: 'fa fa-pencil btn btn-outline-warning' %></td>
    </tr>
    <% end %>
  </tbody>
</table>