<h1><strong>Semester Performance</strong> | <%= @semester.session %></h1>
<%= render 'shared/messages' %><br/>
<h4 class="custom-underline">Club Listing</h4>
<table class="table table-bordered table-striped table-responsive-md">
  <thead>
    <tr>
      <th>Club Name</th>
      <th>Club Personnel</th>
      <th>Registered Students</th>
      <th>Total Members</th>
      <th>Activity Proposed</th>
      <th>Activity Completed</th>
      <th>Activity Hours Completed</th>
      <th>Average Attendance Rate( % )</th>
    </tr>
  </thead>
  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name.titleize %></td>
        <td><%= club.club_personnal.count %></td>
        <td><%= club.members.count - club.club_personnal.count %></td>
        <td><%= club.members.count %></td>
        <td><%= club.activities.count %></td>
        <td><%= club.activities.completed.count %></td>
        <td><%= club.activities.map(&:no_of_hours).compact.sum %></td>
        <td><%= @semester.average_attendance(club.activities) %></td>
      </tr>
  	  <% end %>
  </tbody>
</table>