<h1><strong>Student Lookup</strong></h1>

<%= form_tag student_lookup_path, :method => 'POST' do %>
  <%= text_field_tag 'student_reg', nil, placeholder: 'Enter Student Registration', size: 30 %>
  <%= submit_tag 'Search' %>
<% end %>

<br/>
<% if @student != "Not found" %>
  <table class="table table-bordered table-striped">
   <thead>
     <tr>
      <td scope="col">Student Registration</td>
      <td scope="col">Name</td>
      <td scope="col">Faculty</td>
      <td scope="col">Degree</td>
     </tr>
   </thead>
   <tbody>
     <tr>
      <td><%= @student.student_reg %></td>
      <td><%= link_to "#{@student.name.titleize}", student_path(@student.id) %></td>
      <td><%= @student.faculty %></td>
      <td><%= @student.degree %></td>
     </tr>
   </tbody>
  </table>
<% end %>