<h1><b>Student Page</b> | <%= @student.name.titleize %></h1>
<br>
<%#= link_to 'Back', clubs_path %>
<h4 class="custom-underline">Student Details</h4>
<table class="table table-bordered">
  <tr class="bg-dark text-white">
    <th style="width:20%;" scope='row'>Student Registration</th>
    <td><%= @student.student_reg %></td>
  </tr>
  <tr>
    <th scope='row'>Name</th>
    <td><%= @student.name.titleize %></td>
  </tr>
  <tr class="bg-light">
    <th scope='row'>Degree</th>
    <td><%= @student.degree %></td>
  </tr>
  <tr>
    <th scope='row'>Faculty</th>
    <td><%= @student.faculty %></td>
  </tr>
</table>

<h4 class="pt-3 custom-underline">Club Member Details</h4>
<table class="table table-bordered table-striped">
  <tr class="bg-dark text-white">
    <th scope='col'>#</th>
    <th scope='col'>Club</th>
    <th scope='col'>Position</th>
    <th scope='col'>Semester</th>
  </tr>
  <% @student.members.each_with_index do |member, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= member.club.name %></td>
      <td><%= member.position.titleize %></td>
      <td><%= member.club.semester.session %></td>
    </tr>
  <% end %>
</table>

<h4 class="pt-3 custom-underline">Points from Attendance</h4>

<table class="table table-bordered table-striped">
  <thead>
    <tr class="bg-dark text-white">
      <th scope='col'>Club</th>
      <th scope='col'>Activity Name</th>
      <th scope='col'>Activity Date</th>
      <th scope='col'>Aspect Development</th>
      <th scope='col'>Weightage</th>
      <th scope='col'>No of Hours</th>
      <th scope='col'>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @student.members.each do |member| %>
      <% member.attendances.each do |attendance| %>
        <% if attendance.status == true %>
        <tr>
          <td><%= link_to "#{member.club.name}", club_path(member.club) %></td>
          <td><%= attendance.activity.name.titleize %></td>
          <td><%= attendance.activity.date_in_words %></td>
          <td><%= attendance.activity.dev_aspect %></td>
          <td><%= attendance.activity.weightage %></td>
          <td><%= attendance.activity.no_of_hours %></td>
          <td><%= attendance.activity.weightage.to_i * attendance.activity.no_of_hours.to_i  %></td>
        </tr>
        <% @total_hours.push(attendance.activity.no_of_hours.to_i) %>
        <% @total_points.push(attendance.activity.weightage.to_i * attendance.activity.no_of_hours.to_i)  %>
        <% @phs_aspect.push(attendance.activity.weightage.to_i * attendance.activity.no_of_hours.to_i) if attendance.activity.dev_aspect == "Physical, Health and Safety"  %>
        <% @c_aspect.push(attendance.activity.weightage.to_i * attendance.activity.no_of_hours.to_i) if attendance.activity.dev_aspect == "Cultural"  %>
        <% @s_aspect.push(attendance.activity.weightage.to_i * attendance.activity.no_of_hours.to_i) if attendance.activity.dev_aspect == "Spiritual"  %>
        <% @mp_aspect.push(attendance.activity.weightage.to_i * attendance.activity.no_of_hours.to_i) if attendance.activity.dev_aspect == "Mental and Psychological"  %>
        <% @sc_aspect.push(attendance.activity.weightage.to_i * attendance.activity.no_of_hours.to_i) if attendance.activity.dev_aspect == "Social and Community"  %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<div class="mt-3">
<h4 class="pt-3 custom-underline">Points Tally</h4>
<table class="table table-bordered table-striped">
  <tr class="bg-dark text-white">
    <th scope='col'>Total Hours</th>
    <th scope='col'>Total Points</th>
  </tr>
  <tr>
    <td><%= @total_hours.sum %></td>
    <td><%= @total_points.sum %></td>
  </tr>
</table>

<h4 class="pt-3 custom-underline">Aspect Development Points Distribution</h4>

<table class="table table-bordered table-striped">
  <tr class="bg-dark text-white">
    <th scope='col'>Aspect Development</th>
    <th scope='col'>Points</th>
  </tr>
  <tr>
    <td>Physical, Health and Safety</td>
    <td><%= @phs_aspect.sum %></td>
  </tr>
  <tr>
    <td>Cultural</td>
    <td><%= @c_aspect.sum %></td>
  </tr>
  <tr>
    <td>Spiritual</td>
    <td><%= @s_aspect.sum %></td>
  </tr>
  <tr>
    <td>Mental and Psychological</td>
    <td><%= @mp_aspect.sum %></td>
  </tr>
  <tr>
    <td>Social and Community</td>
    <td><%= @sc_aspect.sum %></td>
  </tr>
</table>

</div>