<h1><%= link_to image_tag("UBD-logo.png", style: "height:65px;", class: 'mb-3') %>&nbsp;<b>Student Transcript</b> | <%= @student.name.titleize %></h1>
<br>
<%#= link_to 'Back', clubs_path %>
<h4 class="custom-underline">Student Details</h4>
<table class="table table-bordered">
  <tr class="bg-dark text-white">
    <th style="width:20%;" scope='row'>Student Registration</th>
    <td><%= @student.student_reg %></td>
  </tr>
  <tr>
    <th scope='row'>Name</th>
    <td><%= @student.name.titleize %></td>
  </tr>
  <tr class="bg-light">
    <th scope='row'>Degree</th>
    <td><%= @student.degree %></td>
  </tr>
  <tr>
    <th scope='row'>Faculty</th>
    <td><%= @student.faculty %></td>
  </tr>
</table>

<h4 class="pt-3 custom-underline">Club Member Details</h4>
<table class="table table-bordered table-striped">
  <tr class="bg-dark text-white">
    <th scope='col'>#</th>
    <th scope='col'>Club</th>
    <th scope='col'>Position</th>
    <th scope='col'>Semester</th>
  </tr>
  <% @student.members.each_with_index do |member, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= member.club.name %></td>
      <td><%= member.position.titleize %></td>
      <td><%= member.club.semester.session %></td>
    </tr>
  <% end %>
</table>

<h4 class="pt-3 custom-underline">Points from Attendance</h4>
<table class="table table-bordered table-striped">
  <thead>
    <tr class="bg-dark text-white">
      <th scope='col'>Club</th>
      <th scope='col'>Activity Name</th>
      <th scope='col'>Activity Date</th>
      <th scope='col'>Aspect Development</th>
      <th scope='col'>Weightage</th>
      <th scope='col'>No of Hours</th>
      <th scope='col'>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @student.attendances.each do |attendance| %>
      <% if attendance.status == true %>
        <tr>
          <td><%= link_to "#{attendance.club.name}", club_path(attendance.club) %></td>
          <td><%= attendance.activity.name.titleize %></td>
          <td><%= attendance.activity.date_in_words %></td>
          <td><%= full_dev_form(attendance.activity.dev_aspect) %></td>
          <td><%= attendance.activity.weightage %></td>
          <td><%= attendance.activity.no_of_hours %></td>
          <td><%= attendance.activity.weightage.to_i * attendance.activity.no_of_hours.to_i  %></td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td colspan="4"></td>
      <td><strong>Total</strong></td>
      <td><%= @student.total_hours %></td>
      <td><%= @student.total_points %></td>
    </tr>
  </tbody>
</table>


<h4 class="pt-3 custom-underline">Aspect Development Points Distribution</h4>

<table class="table table-bordered table-striped">
  <tr class="bg-dark text-white">
    <th scope='col'>Aspect Development</th>
    <th scope='col'>Points</th>
  </tr>
  <tr>
    <td>Physical, Health and Safety</td>
    <td><%= @student.total_phs_points %></td>
  </tr>
  <tr>
    <td>Cultural</td>
    <td><%= @student.total_cultural_points %></td>
  </tr>
  <tr>
    <td>Spiritual</td>
    <td><%= @student.total_spiritual_points %></td>
  </tr>
  <tr>
    <td>Mental and Psychological</td>
    <td><%= @student.total_mp_points %></td>
  </tr>
  <tr>
    <td>Social and Community</td>
    <td><%= @student.total_sc_points %></td>
  </tr>
</table>

