<section id="form-student-import">

  <% if !@student_import.errors.any? %>
    <%= render 'shared/messages' %>
  <% end %>

  <h1>Student Import</h1>

  <p>Happy Student Importing!</p>


  <%= form_for @student_import do |f| %>

    <%= f.hidden_field :user_id, :value => 1 %>

    <% if @student_import.errors.any? %>
      <div class="row">
        <div class="col-md-12 ">
          <div class="alert alert-danger">
              <h3 class="card-title">
                <a href="#" class="close" data-dismiss="alert">×</a>
                Check Errors in the Following Row
              </h3>
              <div class="card-block">
                <ul>
                  <% @student_import.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          </div>
        </div>
      </div>

    <% end %>

    <div class="">
      <%= f.file_field :file %>
    </div>
    <div class="col-md-4 offset-md-5 buttons"><%= f.submit "Import" %></div>
  <% end %>
</section>


