<%= render 'shared/devise_messages' %><br/>
<h1><strong>Home</strong></h1>
<h4 class="custom-underline">Semester Listing</h4>
<table class="table table-responsive-md table-bordered table-striped">
  <thead>
    <tr>
      <th>Semester Session</th>
      <th>Clubs</th>
      <th>Members</th>
      <th>Activity Proposed</th>
      <th>Activity Completed</th>
      <th>Activity Plan</th>
    </tr>
  </thead>
  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= link_to "#{semester.session}", semester_path(semester) %></td>
        <td><%= semester.clubs.count %></td>
        <td><%= semester.members.count %></td>
        <td><%= semester.activities.count %></td>
        <td><%= semester.activities.completed.count %></td>
        <td><%= semester.activities.planned.count %></td>
      </tr>
  	<% end %>
  </tbody>
</table>

