<%= render 'shared/devise_errors' %>

<div class="jumbotron row justify-content-md-center">
  <h1><center>Welcome to the <strong>UBD Extra Curricular Activity</strong> System</center></strong></h1>
  <%= link_to image_tag("UBD-logo.png", alt: "Twitter logo", class: "") %>
</div>

<!-- Button trigger modal -->
<div class="row justify-content-md-center"><button type="button" class="btn btn-lg btn-info" data-toggle="modal" data-target="#exampleModalCenter">
  Enter the Site
</button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Please Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
      </div>
      <div class="modal-footer">
          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-success' %>
          </div>
        <% end %>
        <div>
          <h4>SuperUser</h4>
          <p>email: admin@admin.com</p>
          <p>password: 123456</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= render "devise/shared/links" %>
