<ul class="navbar-nav mr-auto">
  <li class="<%= active?(root_path) %> nav-item">
    <%= link_to 'Home', root_path, class: 'nav-link' %>
  </li>

  <li class="<%= active?(clubs_path) %> <%= active?(club_path) if params[:id] %> nav-item">
    <%= link_to 'Clubs', clubs_path, class: 'nav-link' %>
  </li>

  <li class="<%= active?(semesters_path) %> nav-item">
    <%= link_to 'Semesters', semesters_path, class: 'nav-link' %>
  </li>


  <li class="<%= active?(students_path) %> nav-item">
    <%= link_to 'Students', students_path, class: 'nav-link' %>
  </li>

 <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Admin
    </a>
    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="<%= student_imports_path %>">Upload New Students</a>
      <a class="dropdown-item" href="<%= member_imports_path %>">Upload Club Members</a>
    </div>
  </li>

</ul>