<ul class="navbar-nav mr-auto">
  <li class="<%= active?(root_path) %> nav-item">
    <a class="nav-link" href="#">Home</a>
  </li>

  <li class="<%= active?(semesters_path) %> nav-item">
    <%= link_to 'Sem', semesters_path, class: 'nav-link' %>
  </li>

  <li class="<%= active?(clubs_path) %> nav-item">
    <%= link_to 'Clubs', clubs_path, class: 'nav-link' %>
  </li>


  <li class="<%= active?(students_path) %> nav-item">
    <%= link_to 'Student', students_path, class: 'nav-link' %>
  </li>

 <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Admin
    </a>
    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="">Import User</a>
      <a class="dropdown-item" href="">Dashboard</a>
    </div>
  </li>

</ul>