<!DOCTYPE html>
<html>
  <head>
    <title>ECA System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= render 'layouts/navigation' if current_user %>
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="padding-top: 30px;">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
